<html>

<head>
<script src="angular.js"></script>
<script src="finance.js"></script>
<script src="invoice.js"></script>
</head>
<body>
<div ng-app="invoice" ng-controller="InvoiceController as invoice" >
<div>Quantity : <input type="text" ng-model="invoice.qty" required/> </div>
<div> Costs: <input type="number" ng-model="invoice.cost" required/> </div>
<select ng-model="invoice.inCurr">
<option ng-repeat="c in invoice.currencies">{{c}} </option>
</select>
<div><b>Total:</b> <span ng-repeat="c in invoice.currencies"> {{invoice.total(c) | currency:c}} </span></div>
<button class="btn" ng-click="invoice.pay()>Pay</button>
</div>
</body>
</html>
